<style>
input.ng-touched.ng-invalid,
input.ng-dirty.ng-invalid{
	border: 1px solid red !important;
}
</style>
Logged in : {{$root.loggedIn}}
<form name="userform" 
	ng-submit="userform.$valid && !userform.$pending && $ctrl.save(user)" novalidate>
	<div class="form-group">
		<label>Name:</label>
		<input class="form-control" required minlength="3" 	pattern="^[A-Za-z].*$" not-contain="'batman'" async-name-exists
			ng-model="$ctrl.user.name" name="name"
			ng-model-options="{debounce:400, updateOn:'blur'}"
			ng-model-change="setDependentFields()"
			>
		<div ng-show="userform.name.$pending">Sprawdzam....</div>
		<div ng-show="userform.name.$touched || userform.name.$dirty">
			<div ng-show="userform.name.$error.required">Pole jest wymagane</div>
			<div ng-show="userform.name.$error.minlength">Musi mieć minimum 3 znaki</div>
			<div ng-show="userform.name.$error.pattern">Musi być literami</div>
			<div ng-show="userform.name.$error.notContain">Musi nie być Batman!</div>
			<div ng-show="userform.name.$error.nameExists">Nazwa zajęta!</div>
		</div>
	</div>
	<div class="form-group">
		<label>Email:</label>
		<input class="form-control" type="email"
				ng-model="$ctrl.user.email" name="email">
	</div>
	<div class="form-group">
		<label>Company Name:</label>
		<input class="form-control" 
				ng-model="$ctrl.user.company.name" name="company_name">
	</div>
	<div class="form-group">
		<label>Company Catchphrase:</label>
		<input class="form-control" 
				ng-model="$ctrl.user.company.catchPhrase" name="catchPhrase">
	</div>
	<div class="form-group">
		<input type="button" 
				value="Cancel" ng-click="$ctrl.cancel()" class="btn btn-danger">
		<input type="submit" 
				value="Save" class="btn btn-success">
	</div>
</form>
