<div class="row" ng-controller="UsersCtrl as usersCtrl">

    <div class="col-xs-6 col-md-4">
    	<h3>Users List</h3>
	    <ul class="list-group">
    		<li class="list-group-item"
    		ng-repeat="user in usersCtrl.users.items"
			ui-sref=".show.details({user_id: user.id})" ui-sref-active="active">
				<user-card user="user"></user-card>
    		</li>
	    </ul>
    </div>

    <div class="col-xs-6 col-md-8">

	<button ui-sref=".show.form({user_id:'new'})">New</button>

    <ui-view></ui-view>

 <!--    	<div ng-switch="selected.mode" ng-init="selected = {}">
				<h3>Selected User</h3>
				<button ng-click="(selected.mode = 'edit') && usersCtrl.select({})">New</button>
 

			<div ng-switch-default>
				<user-detail user="usersCtrl.selected">
					<button ng-click="usersCtrl.select(null, $event)">Cancel</button>

					<button ng-click=" selected.mode = 'edit' ">Edit</button>
				</user-detail>
			</div>

			<div ng-switch-when="edit">
				<user-form
					user="usersCtrl.selected" 
					on-save="usersCtrl.saveUser(user)"
					on-cancel=" selected.mode = 'show' ">
				</user-form>
			</div>
    	</div> -->
    </div>

</div>

