	<div class="tasks" ng-controller="TasksCtrl">
		<ul class="tasks-list">
			<li ng-repeat="task in tasks.items">
				<input type="checkbox" 
						ng-model="task.completed">
				{{task.title}}
			</li>
		</ul>
		<input class="task-name" ng-model="name">

		<button class="task-add-btn" 
				ng-click="addTask(name)">Dodaj</button>

		<p>Zakończonych zadań :{{ completedCount }}</p>
	</div>