<!DOCTYPE html>
<html  ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>{{ ' Szkolenie AngularJS ' }}</title>
    <!-- build:css styles/style.css-->
	    <!-- bower:css -->
	    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
	    <!-- endbower -->
	    <!-- inject:css -->
	    <link rel="stylesheet" href="style.css">
	    <!-- endinject -->
    <!-- endbuild -->
</head>
<body>

    <ui-view></ui-view>
    <!-- build:js scripts/vendors.js -->
	    <!-- bower:js -->
	    <script src="bower_components/jquery/dist/jquery.js"></script>
	    <script src="bower_components/angular/angular.js"></script>
	    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js scripts/bundle.js -->
	    <!-- inject:js -->
	    <script src="app.module.js"></script>
	    <script src="config.module.js"></script>
	    <script src="templates.module.js"></script>
	    <script src="tasks/tasks.module.js"></script>
	    <script src="users/users.module.js"></script>
	    <script src="index.js"></script>
	    <script src="test.js"></script>
	    <script src="misc/tabs.directive.js"></script>
	    <script src="scopes/scopes.ctrl.js"></script>
	    <script src="tasks/tasks.ctrl.js"></script>
	    <script src="tasks/tasks.js"></script>
	    <script src="users/user-card.component.js"></script>
	    <script src="users/user-card.directive.js"></script>
	    <script src="users/user-detail.component.js"></script>
	    <script src="users/user.form.component.js"></script>
	    <script src="users/users.ctrl.js"></script>
	    <script src="users/users.js"></script>
	    <script src="users/validators.directive.js"></script>
	    <!-- endinject -->
   <!-- endbuild -->
</body>
</html>
