<!DOCTYPE html>
<html  ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>{{ ' Szkolenie AngularJS ' }}</title>
    <!-- build:css styles/style.css-->
	    <!-- bower:css -->
	    <!-- endbower -->
	    <!-- inject:css -->
	    <!-- endinject -->
    <!-- endbuild -->
</head>
<body>

    <ui-view></ui-view>
    <!-- build:js scripts/vendors.js -->
	    <!-- bower:js -->
	    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js scripts/bundle.js -->
	    <!-- inject:js -->
	    <!-- endinject -->
   <!-- endbuild -->
</body>
</html>
