
    <h1> Szkolenie AngularJS </h1>

    <div class="container" >
        <div class="row">
            <div class="col-xs-12">
            <ul class="nav nav-tabs">
              <li><a ui-sref="root.tasks" ui-sref-active="active">Tasks</a></li>
              <li><a ui-sref="root.users" ui-sref-active="active">Users</a></li>
              <li><a ui-sref="root.scopes" ui-sref-active="active">Scopes</a></li>
            </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <ui-view></ui-view>
            </div>
        </div>
    </div>