
<tabs>
    <tab title="Tasks">
        <div ng-include="'tasks/tasks.tpl.html'"></div>
    </tab>
    <tab title="Scopes">
        <div ng-include="'scopes/scopes.tpl.html'"></div>  
    </tab>
    <tab title="Users" default="true">
        <div ng-include="'users/users.tpl.html'"></div>
    </tab>
</tabs>
<!-- 
    <button ng-click="view = 'tasks/tasks.tpl.html'">Tasks</button>
    <button ng-click="view = 'scopes/scopes.tpl.html'">Scopes </button>
    <button ng-click="view = 'users/users.tpl.html'">Users </button>

    <div ng-include="view"></div> -->